body {
    background-color: #282c34;
    color: white;
    display: grid;
    place-items: center;
    margin: 0;
}



#inputField {
    width: 700px;
    height: 250px;
    padding: 0;
    border: none;
    background-color: black;
    font-size: 16px;
    color: white;
    vertical-align: top;
    resize: none; /* to prevent resizing */
    margin-top: 10px;
  }

#butter {
    background-color: black;
    color: white;
    border: 2px solid white;
    border: none;
    padding: 10px 20px;
    width: 80px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

#outputField {
    width: 700px;
    height: 250px;
    padding: 0;
    margin: 5px 0;
    border: none;
    background-color: black;
    font-size: 16px;
    color: white;
    vertical-align: top;
    resize: none; /* to prevent resizing */
    cursor: pointer;
  }